@use './colors';
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(315deg, #7f5a83 0%, #094d7e 74%);
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    width: 800px;
    background-image: radial-gradient(circle, rgb(43,44,46) 0%, rgb(25,25,25) 93%);
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
    color: #fff;
}

.info {
    i{
        font-size: 24px;
        position: absolute;
        top: 6px;
        padding: 20px;
        color: colors.$second-color;
        cursor: pointer;
        transition: color .3s;        
    }
    
    i:hover {
        color: colors.$first-color;
    }
    
    .fa-question {
        right: 14px;
        
    }

    
}
.fa-paint-brush {
    right: 60px;
}

h1 {
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: lighter;
}

.stopwatch {
    font-size: 72px;
    color: colors.$first-color;
}

.time {
    visibility: hidden;
    color: colors.$second-color;
    font-size: 22px;
}

.buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 30px;
}

button {
    margin: 10px;
    padding: 10px 20px;
    width: 20%;
    color: #fff;
    font-size: 22px;
    background-color: transparent;
    border: 1px solid colors.$first-color;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s;

    &:hover, &:focus {
        background-color: colors.$first-color;
        outline: none;
    }
}

.history {
    flex-grow: 1;
    text-transform: uppercase;
}

.time-list li {
    display: flex;
    justify-content: space-between;
    width: 300px;
    font-size: 22px;
    color: colors.$second-color;
}

.time-list span {
    font-weight: bold;
}

.modal-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .65);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 360px;
    padding: 30px 60px;
    border-radius: 15px;
    background-color: rgb(245,245,245);

    h3 {
        margin-bottom: 20px;
        font-size: 30px;
    }
    
    p {
        margin-bottom: 10px;
        margin-left: 20px;
        font-size: 20px;
    }

    .close {
        display: block;
        margin: 40px auto 0;
        width: 200px;
        background-color: colors.$first-color;
        transition: background-color .3s;
    }

    .close:hover {
        background-color: rgb(226,36,36);
    }
}

.modal-animation {
    animation: show-modal .5s;
}

@keyframes show-model {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.colors {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 100px;
    right: -100px;
    width: 64px;
    height: 220px;
    transition: right .3s;
}

.color {
    width: 40px;
    height: 40px;
    border: 3px solid black;
    border-radius: 50%;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color .5s, box-shadow .5s;
}

.show-colors {
    transform: translateX(-110px);
}


.one {
    background-color: colors.$first-color;
    box-shadow: 0 0 8px colors.$first-color
}

.two {
    background-color: colors.$seocnd-color;
    box-shadow: 0 0 8px colors.$second-color
}

.three {
    background-color: colors.$third-color;
    box-shadow: 0 0 8px colors.$third-color
}

.four {
    background-color: colors.$fourth-color;
    box-shadow: 0 0 8px colors.$fourth-color
}

.one:hover {
    background-color: colors.$first-hover;
    box-shadow: 0 0 8px colors.$first-color
}

.two:hover {
    background-color: colors.$second-hover;
    box-shadow: 0 0 8px colors.$second-color

}

.three:hover {
    background-color: colors.$third-hover;
    box-shadow: 0 0 8px colors.$third-color

}

.four:hover {
    background-color: colors.$fourth-hover;
    box-shadow: 0 0 8px colors.$fourth-color

}